body,html{
	position: relative;
	font-family: sans-serif;
	width: 100%;
	height: 100%;
	line-height: 1.8;
	font-family: 'Archivo Narrow', sans-serif;
	background: #E8E8E8;
}

body{
	font-size: 18px;
}
html{
	font-size: 62.5%;
}



.header{
		  background: url("../img/portait_bg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 100%;
	width: 100%;
	text-transform: uppercase;
}

.header_center{
	position: absolute;

	left: 50%;
	top: 50%;
-webkit-transform: translate(-50%,-50%);
border: 15px solid ;
 border-top-color: rgba(256,256,256,.75);
  border-left-color: rgba(256,256,256,.75);
  border-bottom-color: rgba(256,256,256,.5);
  border-right-color: rgba(256,256,256,.5);

text-align: center;
padding: 3.24rem;
color: #fff;
}

h1{	
		font-size: 7.6rem;
		line-height: 7.6rem;
		font-family: 'Raleway', sans-serif;
		font-weight: 900;
	text-transform: uppercase;


		
		
}
h2{
	margin: 0;
	max-width: 300px;
	font-size: 5.7rem;
	text-transform: uppercase;
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
		color: #14E09E;


}

h3{
	font-size: 2.4rem;
	text-transform: uppercase;
	display: block;
		font-family: 'Raleway', sans-serif;
		font-weight: 400;



}

a{
	text-decoration: underline;
	color: black;
	font-weight: bold;
}

a:hover{
	text-decoration: none;
}

.down{
	position: absolute;
	bottom: 0;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    

    border-top-color: #fff;
    border-width: 25px;
    margin-left: -25px;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
}

.down:hover{
opacity: .6;
   -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
}

.btn{
    margin-top: 3.24rem;
    margin-bottom: 3.24rem;
    text-decoration: none;
    border: 2px solid black;
    color: black;
    background: rgba(256,256,256,.1);
    text-align: center;
    display: block;
    max-width: 200px;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
    box-sizing: border-box;
}

.btn:hover{
	background: rgba(256,256,256,.8);
	   -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
}

strong{
	display: block;
	margin-bottom: 3.24rem;
	font-size: 2.4rem;
	text-transform: uppercase;
text-transform: uppercase;
}

.content{
	max-width: 1002px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}
figure img, aside img {
    border: 0;
    max-width: 100%;
    display: block;
    margin: 0 auto; } 

.img_bg{
	display: block;
	height: 64.8rem;
    width: 81rem;
    position: absolute;
    top: 9.72rem;
    left: 60%;
    -webkit-transform: translateX(-60%);
    -ms-transform: translateX(-60%);
    transform: translateX(-60%);
    z-index: -1;
}



aside{
	    box-sizing: border-box;
padding: 3.24rem;
	background: #14E09E;
	z-index: 99;
	 float: left;
	max-width: 334px;
    margin-top: -9.72rem;


   
}

aside img{
	margin-bottom: 3.24rem;
}

aside h3{
	text-align: center;
}

img{
	display: block;
}


.sans_aside{
	max-width: 501px;
    padding-top: 45.36rem;
    float: right;
}

.content_right{
  float: right;
  max-width: 501px;
}



section{
	position: relative;
	clear: both;
	overflow: hidden;
	margin-bottom:  6.48rem;
	margin-top:  6.48rem;
}



.section_header{
	


	  background: url("../img/portait_bg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 64.8rem;
	width: 100%;
	color: white;
	position: relative;
}


.sub_content{
    padding-top: 45.36rem;
 
}



figure{

	margin: 0;
	padding: 0;
	overflow: hidden;
}

ul{
	margin:0;
	padding: 0;
}

li{
	list-style: none;
}


.col-3{
	margin-top: -9.72rem;
	overflow: hidden;
	padding: 3.24rem;
	
	background: #14E09E;
	
}
.col-3 li {

	width: 30%;
	margin-right: 5%;
	float: left;

}

.col-3 li:nth-child(3n){

margin-right: 0;

}


blockquote{

	font-size: 5.7rem;
max-width: 800px;
margin: 0 auto;
padding: 3.24rem;
position: relative;
text-transform: uppercase;
		top: 50%;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
	text-align: center;
}

footer{
	text-align: center;
	background: lightgrey;
	height: 28.8px;
	line-height: 28.8px;

 }

@media(max-width: 1024px){



 main{
 	padding: 3.24rem;
 }



 }



@media(max-width: 950px){



 .col-3 li {  text-align: center; float: none; max-width: 100%; width: 100%;}

aside{
	display: none;
}


.col-3 {
    margin-top: 3.24rem;
    
 }

 .btn{
 	 margin : 3.24rem auto;
 }
blockquote{
	font-size:3.5rem;
}

.header_center{

	border-color: transparent;
	padding: 0;
}



 }

 @media(max-width: 500px){  
	
	h1{
		font-size: 5.7rem;
	}

 .col-3 li {  text-align: left;}


	 main{
 	padding: 1.625rem;
 }



 section{

	margin-bottom: 1.625rem;
}

 .btn{
 	max-width: 100%;
 }

}


